body {
    margin: 0;
    background-color: #444;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-flow: column;
}

img {
    border-radius: 100%;
    width: 300px;
    box-shadow: 0 0 20px black;
}

h1  {
    color: white;
    font-family: sans-serif;
    text-shadow: 0 0 20px black;
}